<div>
  <div class="flex-row d-flex">
    <!--data search form-->
    <form class="row g-3 ms-auto">
      <div class="col-auto">
        <input
          type="text"
          class="form-control ms-auto"
          placeholder="search data title"
          name="searchTerm"
          [(ngModel)]="searchTerm"
          (keyup)="search($any($event.target).value)"
        />
      </div>
    </form>

    <!--button to open add data modal-->
    <button
      type="button"
      class="mb-2 ml-auto me-3 btn btn-primary d-block"
      data-bs-toggle="modal"
      data-bs-target="#addModalForm"
    >
      Data+
    </button>
  </div>

  <!--Display API data in a table-->
  <table
    class="table table-striped table-bordered border-success table-responsive"
  >
    <thead class="table-success">
      <tr>
        <th scope="col" style="width: 10px">ID</th>
        <th scope="col" style="width: 20px">UserID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col" style="width: 10px">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listData | dataFilter: searchTerm; index as i">
        <td>{{ data.id }}</td>
        <td>{{ data.userId }}</td>
        <td>{{ data.title }}</td>
        <td>{{ data.body }}</td>
        <td>
          <button
            type="button"
            class="mb-2 ml-auto btn btn-primary d-block"
            data-bs-toggle="modal"
            data-bs-target="#editModalForm"
            (click)="editModal(data)"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!--Add modal form-->
  <div
    class="modal fade"
    id="addModalForm"
    tabIndex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Data</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="mb-3">
              <label class="form-label">UserID</label>
              <input
                type="number"
                class="form-control"
                name="userId"
                formControlName="userId"
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Title</label>
              <input
                type="text"
                class="form-control"
                name="title"
                placeholder="title"
                formControlName="title"
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Content</label>
              <textarea
                rows="4"
                cols="50"
                class="form-control"
                name="content"
                formControlName="body"
                placeholder="content"
                required
              ></textarea>
            </div>
            <div class="modal-footer d-block">
              <button
                (click)="postData()"
                type="button"
                class="btn btn-info float-end"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--Edit modal form-->
  <div
    class="modal fade"
    id="editModalForm"
    tabIndex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content" *ngIf="editDataModal">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Row</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="updateFormValue">
            <div class="mb-3">
              <label class="form-label">UserID</label>
              <input
                [(ngModel)]="editDataModal.userId"
                type="number"
                class="form-control"
                name="userId"
                formControlName="updateUserId"
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Title</label>
              <input
                [(ngModel)]="editDataModal.title"
                type="text"
                class="form-control"
                name="title"
                formControlName="updateTitle"
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Content</label>
              <textarea
                [(ngModel)]="editDataModal.body"
                rows="4"
                cols="50"
                type="text"
                class="form-control"
                name="body"
                formControlName="updateBody"
                required
              >
              </textarea>
            </div>
            <div class="modal-footer d-block">
              <button
                (click)="updateData()"
                type="button"
                data-bs-dismiss="modal"
                class="btn btn-success float-end"
              >
                Save
              </button>

              <button
                (click)="deleteData(editDataModal)"
                type="button"
                data-bs-dismiss="modal"
                class="btn btn-danger float-start"
              >
                Delete
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
